extends default.jade

block title
    | Write report

block content
    .row
        .col-lg-6.col-lg-offset-3
            .well.bs-component
                if messages
                    .bs-component
                        .alert.alert-success
                            for m in messages
                                strong {{ m }}
                form.form-horizontal(method="post")
                    {% csrf_token %}
                    fieldsets
                        legend Your status plz:
                        .form-group(class="{% if form.errors.status %}has-error{% endif %}")
                            .col-lg-12
                                textarea.form-control#status(name="status", rows="6", required, maxlength="{{ STATUS_REPORT_LENGTH }}") {{ form.status.value|default:'' }}
                            if form.errors.status
                                label.control-label.col-lg-12 {{ form.errors.status.as_text }}

                        .form-group
                            .col-lg-10
                                button.btn.btn-primary Send
                            .col-lg-2
                                span#counter 0
                                span /{{ STATUS_REPORT_LENGTH }}

    script
        $(document).ready(function() {
            $('#status').focus();
            var text_max = {{ STATUS_REPORT_LENGTH }};
            var text_length = 0;
            $('#counter').html(text_length);

            $('#status').on('input propertychange', function() {
                var text_length = $('#status').val().length;

                $('#counter').html(text_length);
            });
        });