extends default.jade
-load thumbnail
-load staticfiles
-load humanize

block title
    | {{ header }}

block content
    .page-header
        h1 {{ header }}
        
    if messages
        .bs-component
            .alert.alert-success
                for m in messages
                    strong {{ m }}

    .row
        .col-sm-8.col-sm-offset-2
            for r in reports
                .row.well
                    .col-sm-2
                        if r.author.avatar
                            {% thumbnail r.author.avatar "90x90" crop="center" as ava %}
                            img.img-rounded(src="{{ ava.url }}")
                            {% endthumbnail %}
                        else
                            img.img-rounded(src="{% static 'img/default_ava.png' %}")

                    .col-sm-9
                        blockquote
                            p {{ r.status|linebreaksbr|urlize }}
                            small 
                                a(href="{{ r.author.get_absolute_url }}"){{ r.author }} 
                                |{{ r.create|naturaltime }}
                    .col-sm-1
                        if r.author == user
                            a(href="{% url 'report_delete' r.id %}", title="Delete report", onclick="return confirm('Delete report?');")
                                span.glyphicon.glyphicon-trash

    if is_paginated
        .row
            .col-sm-8.col-sm-offset-2
                ul.pagination
                    if page_obj.has_previous
                        li
                            a(href="?page={{ page_obj.previous_page_number }}") «
                    else
                        li.disabled
                            a(href="#") «

                    for p in paginator.page_range
                        li(class="{% if page_obj.number == p %}active{% endif %}")
                            a(href="?page={{ p }}") {{ p }}

                    if page_obj.has_next
                        li
                            a(href="?page={{ page_obj.next_page_number }}") » 
                    else
                        li.disabled
                            a(href="#") »
