html,
body {
  height: 100%;
}
.global_wrapper {
  min-height: 100%;
  height: auto;
}
.centered {
  margin: 0 auto;
}
.text-centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.img-rounded {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
