-load staticfiles
-load thumbnail
.navbar.navbar-default
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='/') Reports
    .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav
            if not request.user.is_authenticated
                li.active
                    a(href='/') Auth
            else
                {% url "report_add" as url %}
                li(class="{% if url == request.path %}active{% endif %}")
                    a(href="{% url 'report_add' %}") Add report
                {% url "reports_list" as url %}
                li(class="{% if url == request.path %}active{% endif %}")
                    a(href="{% url 'reports_list' %}") Feed
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | Feeds by user
                        b.caret
                    ul.dropdown-menu
                        for u in top_users
                            {% url 'reports_by_user' u.username as url %}
                            li(class="{% if url == request.path %}active{% endif %}")
                                a(href="{% url 'reports_by_user' u.username %}") {{ u.get_full_name }}

        if request.user.is_authenticated
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        | {{ user.username }}
                        b.caret
                    ul.dropdown-menu
                        if user.is_staff
                            li
                                a(href="/admin/") Admin

                        li
                            a(href="{% url 'profile_edit' %}") Edit profile
                        li
                            a(href="{% url 'change_password' %}") Change password
                        li
                            a(href="{% url 'report_add' %}") Add report
                        li.divider
                        li
                            a(href="{% url 'logout' %}") Logout
