doctype
html
    -load staticfiles
    head
        link(href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}", rel="stylesheet")
        link(href="{% static '3rdparty/bootstrap-theme.css' %}", rel="stylesheet")
        link(href="{% static 'css/style.css' %}", type="text/css", rel="stylesheet")

        title {% block title %}{{ title|default:'reports' }}{% endblock %}
    include _scripts.jade
    body
        include _navbar.jade
        
        div.container
            block content

        include _footer.jade