extends default.jade

block title
    | Login plz

block content
    .row
        .col-lg-6.col-lg-offset-3
            .well.bs-component
                form.form-horizontal(method="post")
                    {% csrf_token %}
                    fieldsets
                        legend Login plz
                        .form-group
                            label.control-label.col-lg-2 Username
                            .col-lg-10
                                input(name="username").form-control

                        .form-group
                            label.control-label.col-lg-2 Password
                            .col-lg-10
                                input(type="password", name="password").form-control

                        .form-group
                            .col-lg-10.col-lg-offset-2
                                button.btn.btn-primary Login
