extends default.jade
-load thumbnail

block title
    | Change use password

block content
    .row
        .col-lg-6.col-lg-offset-3
            .well.bs-component
                if messages
                    .bs-component
                        .alert.alert-success
                            for m in messages
                                strong {{ m }}
                form.form-horizontal(method="post", enctype="multipart/form-data")
                    {% csrf_token %}
                    fieldsets
                        legend Change password
                        {{ form.non_field_errors }}

                        .form-group(class="{% if form.errors.old_password %}has-error{% endif %}")
                            label.control-label.col-lg-2 Old password
                            .col-lg-10
                                input(type="password", name="old_password", value="").form-control
                            if form.errors.old_password
                                label.control-label.col-lg-12 {{ form.errors.old_password.as_text }}

                        .form-group(class="{% if form.errors.new_password1 %}has-error{% endif %}")
                            label.control-label.col-lg-2 New password
                            .col-lg-10
                                input(type="password", name="new_password1", value="").form-control
                            if form.errors.new_password1
                                label.control-label.col-lg-12 {{ form.errors.new_password1.as_text }}

                        .form-group(class="{% if form.errors.new_password2 %}has-error{% endif %}")
                            label.control-label.col-lg-2 Repeat password
                            .col-lg-10
                                input(type="password", name="new_password2", value="").form-control
                            if form.errors.new_password2
                                label.control-label.col-lg-12 {{ form.errors.new_password2.as_text }}

                        .form-group
                            .col-lg-10.col-lg-offset-2
                                button.btn.btn-primary Save
