extends default.jade
-load thumbnail
-load staticfiles

block title
    | {{ object.username }} profile

block content
    .row
        .col-sm-8.col-sm-offset-2
            .page-header 
                h1 {{ object.username }}

            .row
                .col-sm-2
                    if profile.avatar
                        {% thumbnail profile.avatar "90x90" crop="center" as ava %}
                        img.img-rounded(src="{{ ava.url }}")
                        {% endthumbnail %}
                    else
                        img.img-rounded(src="{% static 'img/default_ava.png' %}")
                .col-sm-10
                    .row 
                        .col-sm-6{{ profile.get_full_name }}
                        if profile.email
                            .col-sm-6
                                a(href="mailto:{{ profile.email }}") {{ profile.email }}

                    br
                    .row
                        if profile.feed
                            .col-sm-6
                                if profile.id == user.id
                                    a(href="{% url 'reports_by_user' profile.username %}") My feed
                                else
                                    a(href="{% url 'reports_by_user' profile.username %}") User feed

                        if profile.id == user.id
                            .col-sm-6
                                a(href="{% url 'profile_edit' %}") Edit profile
