extends default.jade
-load thumbnail

block title
    | Edit profile

block content
    .row
        .col-lg-6.col-lg-offset-3
            .well.bs-component
                if messages
                    .bs-component
                        .alert.alert-success
                            for m in messages
                                strong {{ m }}
                form.form-horizontal(method="post", enctype="multipart/form-data")
                    {% csrf_token %}
                    fieldsets
                        legend Edit profile
                        .form-group(class="{% if form.errors.username %}has-error{% endif %}")
                            label.control-label.col-lg-2 Username
                            .col-lg-10
                                input(name="username", value="{{ form.username.value }}").form-control
                            if form.errors.username
                                label.control-label.col-lg-12 {{ form.errors.username.as_text }}

                        .form-group(class="{% if form.errors.email %}has-error{% endif %}")
                            label.control-label.col-lg-2 Email
                            .col-lg-10
                                input(type="email", name="email", value="{{ form.email.value }}").form-control
                            if form.errors.email
                                label.control-label.col-lg-12 {{ form.errors.email.as_text }}

                        .form-group(class="{% if form.errors.first_name %}has-error{% endif %}")
                            label.control-label.col-lg-2 First name
                            .col-lg-10
                                input(type="", name="first_name", value="{{ form.first_name.value }}").form-control
                            if form.errors.first_name
                                label.control-label.col-lg-12 {{ form.errors.first_name.as_text }}

                        .form-group(class="{% if form.errors.last_name %}has-error{% endif %}")
                            label.control-label.col-lg-2 Last name
                            .col-lg-10
                                input(type="", name="last_name", value="{{ form.last_name.value }}").form-control
                            if form.errors.last_name
                                label.control-label.col-lg-12 {{ form.errors.last_name.as_text }}

                        .form-group(class="{% if form.errors.avatar %}has-error{% endif %}")
                            label.control-label.col-lg-2 Ava
                            .col-lg-10
                                if form.avatar.value
                                    {% thumbnail form.avatar.value "160x160" crop="center" as ava %}
                                    img.img-thumbnail(src="{{ MEDIA_URL }}{{ ava }}")
                                    br
                                    br
                                    {% endthumbnail %}
                                input(type="file", name="avatar")
                            if form.errors.avatar
                                label.control-label.col-lg-12 {{ form.errors.avatar.as_text }}

                        .form-group
                            .col-lg-10.col-lg-offset-2
                                button.btn.btn-primary Save
